<input class="navbar-checkbox" id="navbar-checkbox" type="checkbox">
  <nav class="menu">
    <ul class="nav">
      <%= link_to "HANDS UP UNITED", "http://www.handsupunited.org", class: 'home' %>
      <li>
        <%= link_to "COME TO FERGUSON", "http://www.handsupunited.org/come-to-ferguson/", class: 'header' %>
      </li>
      <li>
        <%= link_to "ABOUT US", "http://www.handsupunited.org/about-us/", class: 'header' %>
      </li>
      <li>
        <%= link_to "UPDATES", "http://www.handsupunited.org/blog/", class: 'header' %>
      </li>
      <li>
        <%= link_to "CALENDAR", "http://www.handsupunited.org/hands-up-events/", class: 'header' %>
      </li>
      <li>
        <%= link_to "SOCIAL", "http://handsupunitedsocial.herokuapp.com/", class: 'header' %>
      </li>
      <li>
        <%= link_to "CONTACT US", "http://www.handsupunited.org/contact-us/", class: 'header' %>
      </li>
      <li>
        <%= link_to "DONATE", "http://www.handsupunited.org/donate-1/", class: 'donate' %>
      </li>
    </ul>
    <label class="navbar-handle" for="navbar-checkbox"></label>
  </nav>
</input>
